footer {
    background-color: var(--dark-cyan-footer);
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: #224e46;
}

footer .logo-footer {
    margin-top: 75px;
    width: 200px;
}

footer .nav-footer {
    margin-top: 45px;
    display: flex;
    gap: 50px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

footer .nav-footer a:hover {
    color: var(--white);
}

footer .social-media-footer {
    margin-top: 80px;
    display: flex;
    gap: 20px;
    align-items: center;

}
