@media screen and (max-width: 1440px) {
  main .container-grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
  main .container-grid .first-grid {
    width: 650px;
  }

  main .container-grid .second-grid {
    order: 1;
  }

  main .container-grid .first-grid {
    order: 2;
  }

  main .container-grid .third-grid {
    order: 3;
  }

  main .container-grid .fourth-grid {
    order: 4;
  }

  main .container-grid .graphic-design-grid {
    order: 5;
  }

  main .container-grid .photography-grid {
    order: 6;
  }
}

@media screen and (max-width: 1200px) {
  main .testimonials {
    display: grid;
    place-items: center;
  }

  main .testimonials .container-testimonials {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 120px;
  }
}

@media screen and (max-width: 965px) {
  main .container-grid .first-grid,
  main .container-grid .fourth-grid {
    padding: 45px 70px;
  }
}

@media screen and (max-width: 800px) {
  header .container-header.active nav {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px 0;
    flex-direction: column;
    gap: 30px;
  }

  header .content-header.active {
    display: none;
  }


  header .container-header nav {
    display: none;
  }

  header .container-header nav a {
    color: var(--gray);
    font-weight: bold;
  }

  header .container-header nav .btn-contact {
    background: var(--yellow);
  }

  header .container-header nav .btn-contact:hover {
    background: var(--yellow);
  }

  header .container-header .btn-hamburguer-div {
    display: block;
  }

  header .content-header h1 {
    font-size: 36px;
  }

  main .picture-template-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 750px) {
  header .content-header h1 {
    font-size: 22px;
    letter-spacing: 5px;
  }

  main .container-grid {
    display: flex;
    flex-wrap: wrap;
  }

  main .container-grid div img {
    width: 100vw;
  }

  main .container-grid .first-grid h3,
  main .container-grid .fourth-grid h3,
  main .container-grid .first-grid p,
  main .container-grid .fourth-grid p {
    max-width: 100vw;
    padding: 0 16px;
  }

  main .container-grid .yellow-line,
  main .container-grid .red-line {
    padding-left: 15px;
  }

  main .container-grid .first-grid,
  main .container-grid .fourth-grid {
    padding: 25px 5px;
  }

  main .testimonials {
    max-width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  header .content-header h1 {
    font-size: 28px;
  }
}



@media screen and (max-width: 450px) {
  header .content-header h1 {
    font-size: 22px;
  }

  header .container-header a img {
    width: 140px;
  }

}

@media screen and (max-width: 400px) {
  main .testimonials .container-testimonials div {
    width: 90vw;
  }

  main .container-grid .graphic-design-grid div,
  main .container-grid .photography-grid div {
    width: 95vw;
  }

  main .container-grid .graphic-design-grid div p,
  main .container-grid .photography-grid div p {
    margin-top: 18px;
    font-size: 16px;
    padding: 0 10px;
    line-height: 20px;
  }
}

@media screen and (max-width: 380px) {

  header .container-header a img {
    width: 120px;
  }

  header .content-header h1 {
    font-size: 18px;
  }

  main .testimonials > h4 {
    font-size: 1.1rem;
  }

}
