header {
  background: url(../../../source/desktop/image-header.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

header .container-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

header .container-header a img {
  width: 170px;
  pointer-events: none;
}

header .container-header nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

header .container-header nav a {
  color: var(--white);
  font-family: "Barlow", sans-serif;
}

header .container-header nav .btn-contact {
  background-color: var(--white);
  font-family: "Fraunces", sans-serif;
  padding: 20px 25px;
  border-radius: 35px;
  font-size: 16px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
}

header .container-header nav .btn-contact:hover {
  color: var(--white);
  background: #ffffff50;
}

header .content-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  pointer-events: none;
}

header .content-header h1 {
  margin-top: 5rem;
  color: var(--white);
  font-family: "Fraunces", sans-serif;
  font-size: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 900;
}
