main .container-main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main .container-grid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-self: center;
  width: 100%;
}

main .container-grid img {
  width: 100%;
}



main .container-grid .first-grid,
main .container-grid .fourth-grid {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 150px;
  gap: 40px;
}



/* main .container-grid .first-grid .yellow-line {
  border-bottom: 1px solid var(--yellow-weak);
  border-radius: 30px;
}

main .container-grid .first-grid .yellow-line:hover {
  border-bottom: var(--yellow);
}

main .container-grid .fourth-grid .red-line {
  border-bottom: 2px solid var(--red);
} */

main .container-grid .first-grid h3,
main .container-grid .fourth-grid h3 {
  font-family: "Fraunces", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

main .container-grid .first-grid p,
main .container-grid .fourth-grid p {
  color: var(--dark-gray);
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 1.7rem;
}

main .container-grid .first-grid a,
main .container-grid .fourth-grid a {
  text-transform: uppercase;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
}

main .container-grid .graphic-design-grid,
main .container-grid .photography-grid {
  position: relative;
}

main .container-grid .graphic-design-grid div,
main .container-grid .photography-grid div {
  width: 400px;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #224e46;
}

main .container-grid .graphic-design-grid div h3,
main .container-grid .photography-grid div h3 {
  font-family: "Fraunces", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
}

main .container-grid .graphic-design-grid div p,
main .container-grid .photography-grid div p {
  margin-top: 30px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 30px;
}
